form, .container{
    border: solid black 2px;
    padding: 20px;
    width: 700px;
    margin: 20px auto;
}

form h2{
    text-align: center;
    text-decoration: underline;
}

.container h2{
    text-align: center;
    text-decoration: underline;
}

.user{
    padding: 5px;
    font-size: 1.5em;
    border: none;
    outline: none;
    border-bottom: solid 2px green;
    background-color: antiquewhite;
}

.user:focus{
    background-color: greenyellow;
}

.click{
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}