header, footer, nav, main{
   border: solid 1px silver;
   margin: 10px auto;
   width: 80%;
   box-sizing: border-box;
}

header{
    height: 100px;
    background-color: antiquewhite;
}

nav{
    min-height: 20px;
    background-color: black;
}

main{
    min-height: 400px;
    background-color: blue;
}

footer{
    height: 50px;
    background-color: bisque;
}

.leftmenu{
    float: left;
    margin: 0px;
    width: 200px;
    height: 150px;
    background-color: aqua;
}
