.container1 , .container2 , .container3{
    border: solid 5px gray;
    width: 80%;
    min-height: 200px;
    margin: 20px auto;
    background-color: beige;
}

[class*="item_"]{
    border: solid blue 5px;
    background-color: aqua;
    margin: 0px 20px;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

[class*="item1_"]{
    border: solid blue 5px;
    background-color: aqua;
    width: 150px;
    margin-bottom: 10px;
}

.container2{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    min-height: 600px;
    align-content: flex-start;
    flex-flow: row-reverse wrap;
}

.item1_2{
    height: 40px;
}
.item1_3{
    height: 60px;
}

.container3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item3_1{
    order: 1;
    flex-grow: 1;
}

.item3_2{
    order: 15;
    flex-grow: 2;
}
.item3_3{
    order: 3;
    flex-grow: 1;
}
.item3_4{
    order: 23;
    flex-grow: 2;
}
.item3_5{
    order: 5;
    flex-grow: 1;
}

[class*="item3_"]{
    border: solid blue 5px;
    background-color: aqua;
    width: 100px;
}